<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    
    <p>
      A listing has been created by you.  <%= link_to 'For more details check',listing_url(@listing.id) %>
    </p>
  </body>
</html>