<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      Sample status mail sent using smtp.
    </p>
    Click <%= link_to 'here', new_listing_url(tenant_id: @project.tenant_id, project_id: @project.id) %> to fill in your daily status.

  </body>
</html>