<% if current_user %>

<h3 class="pull-right">Organization: <%= @tenant.name %></h3>
<%= render 'projects/list' %>

<% else %>

<div class="jumbotron">

<h2 class="text-center">What's up scrummies!</h2>

<p class="lead text-center">
  You'll love managing your project with this application.
</p>

</div>


<% end %>

